.leftside {
  padding-right:0rem;
  flex:0 0 26rem;
}

.titled-container {
  margin:6px;
}

.rightside {
  flex:0 0 37rem;
}

.dropdown {
  max-width:15rem;
}

.accessory-dropdown {
  margin-left:-15px;
}

.weapon-dropdown {
  margin-left:-0.3rem;
}

.ascension-row {
  margin-bottom:-0.5rem;
}

.ascension-column {
  padding-bottom:0rem;
}

.divider-column {
  max-width:0.5rem;
  padding:0rem;
}

.weapon-column {
  max-width:106px;
}

.equipped-radio {
  max-width:1rem;
}

.ascension-column {
  max-width:8.4rem;
}

.accessory-column {
  max-width:9.3rem;
}

.result-box {
  margin-bottom:0px;
}

.fire {
  color:red;
  text-shadow:1px 1px 10px white, 1px 1px 10px red;
}

.ice {
  color:blue;
  text-shadow:1px 1px 10px white, 1px 1px 10px blue;
}

.lightning {
  color:yellow;
  text-shadow:1px 1px 10px white, 1px 1px 10px yellow;
}

.dark {
  color:black;
  text-shadow:1px 1px 10px white, 1px 1px 10px black;
}

.shot {
  color:green;
  text-shadow:1px 1px 10px white, 1px 1px 10px green;
}

.light {
  color:white;
  text-shadow:1px 1px 10px white, 1px 1px 10px white;
}

.non-elemental {
  color:gray;
  text-shadow:1px 1px 10px white, 1px 1px 10px gray;
}

.row.divider {
  height:1.5rem;
  color:grey;
}

.damage {
  font-size:small;
}

