.leftside {
  padding-right:0rem;
  min-width:26rem;
  max-width:26rem;
}

.rightside {
  padding-right:0rem;
  min-width:37rem;
  max-width:37rem;
}

.titled-container {
  margin:0.3rem;
  border-radius:1rem;
}

.dropdown {
  max-width:14rem;
}

.accessory-dropdown {
  margin-left:-15px;
}

.weapon-dropdown {
  margin-left:-0.3rem;
}

.ascension-row {
  margin-bottom:-0.5rem;
}

.ascension-column {
  padding-bottom:0rem;
}

.divider-column {
  max-width:0.5rem;
  padding:0rem;
}

.weapon-column {
  max-width:6.7rem;
}

.equipped-radio {
  max-width:1rem;
}

.ascension-column {
  max-width:8.4rem;
}

.accessory-column {
  max-width:9.3rem;
}

.result-box {
  margin-bottom:0rem;
}

.fire {
  color:red;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem red;
}

.ice {
  color:blue;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem blue;
}

.lightning {
  color:yellow;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem yellow;
}

.dark {
  color:black;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem black;
}

.shot {
  color:green;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem green;
}

.sword {
  color:dodgerblue;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem dodgerblue;
}

.greatsword {
  color:purple;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem purple;
}

.polearm {
  color:tomato;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem tomato;
}

.daggers {
  color:navy;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem navy;
}

.firearm {
  color:green;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem green;
}

.shield {
  color:fuchsia;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem fuchsia;
}

.machinery {
  color:brown;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem brown;
}

.royal-arm {
  color:cyan;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem cyan;
}

.light {
  color:white;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem white;
}

.death {
  color:gray;
  text-shadow:0.1rem 0.1rem 1.0rem white, 0.1rem 0.1rem 0.6rem gray;
}

.row.divider {
  height:1.5rem;
  color:grey;
}

.col.small-column {
  max-width:5.82rem;
  min-width:5.82rem;
}

.damage {
  margin-left:-100%;
  margin-right:-100%;
  white-space:nowrap;
}

